span{

    font-size: 50px; 

}

.modal-body p{

    text-align: center;

}

.modal-header button{

   

    float: right;

}

.signinbutton{

    

    

    cursor: pointer;

    float: right;

    color: white;

   

    font-size: 18px;

    height: 50px;

    margin: 10px 5px;

    width: 100px;

    background-color: blue;

}

.modal-dialog {

    height:600px ;

width: 360px;



}

.modal-dialog{

    color: black;

} 

   

.modal-title{

    text-align: center;

}