.postButtons{

   

display: flex;

flex-direction: row;

justify-content: center;

margin-top: 360px;

}

body{

    background: url('background.jpg');

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center center;

    background-size: cover;

    margin: 0 !important;

    background-size: 100% cover!important;

    overflow:hidden;

    display: block;

 } 

.postbtn{

    cursor: pointer;

    float: right;

    color:black;

   

    font-size: 18px;

    height: 50px;

    margin: 10px 5px;

    width: 100px;

    background-color:yellow;

        

}