.blogTite {

    font-size: 150%;

    font-family: 'Abel', sans-serif;

    font-weight: bold;

    text-align: center;

}

#displaylikes{

    display: block;

    margin-left: 0px;

  

}

.blogText {

     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

.buttondesign{

    font-size: 20px;

     color: white;

   

    background-color: red;

    margin: 10px 5px;

    width: 100px;

    height: 50px;

   

}

#showcomment p{

    width: 95%;

    background-color: white;

    

 

}

.blogAuthor {



    font-family: 'Niconne', cursive;

    font-size: 30px;

    

}







.blogAuthor button{

    

    float: right;

    

    margin-top: 50px;

 

}



.blogTitleNew{

    text-align: center;

}



#showcomment{

    height: auto;

    width: 500px;

    background-color: darkgray;

  

   

   

}



.blogAuthor p{

    display: inline-block;

    

}

.blogContent{

    margin: 0px 50px;

}